<%= form_with model: @question do |form| %>
  
  <div class="field">
    <%= form.label :survey_question %>
    <%= form.text_field :survey_question %>
    
    
  </div>

  <div class="dropdown">
  <%= form.label :answer_category_id %>
  <%= a=form.collection_select(:answer_category_id ,  @ans_cat, :id, :category, :prompt => true)%> 
</div>

  



  <div class="display">
    <%= form.label a%>

  </div>

 <div class="actions">
    <%= form.submit %>
  </div>

<% end%>