<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Survey
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/surveys">View Surveys</a>
          <a class="dropdown-item" href="/surveys/new">Add new Survey</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/questions/new">Import questions</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<% if false %>
<%= bar_chart @chart.group(:survey_answer_option).count(:survey_answer_option) %>
<% end %>

<table>    
  <% @chart.keys.each do |q| %>
    <tr>
      <td>
        <%= column_chart(@chart[q].except(nil), title: q) %>
      </td>
      <td>
        <%= pie_chart(@chart[q].except(nil), title:q) %>
      </td>
    </tr>
  <% end %>
          
      
    
    

</table>




<%if false %>
<h2>The link to another page!!</h2>
<%= link_to 'Back', newpage_path, :target => "_blank" %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.domain}/admin/products/#{product.id}", target: "_top" %></li> : 
    
  <% end %>
  <li><%= @products[0].id   %></li>

</ul>

<hr>
<h2> Orders </h2>
<ul>
<table>
  <thead>
  
    <tr>
      <th>Product id</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  
  </thead>
  <tbody>
 
    <% @orders_qty.each do |key , value|%>
      <tr>
        <td><%=key%></td>
        <td><%=value%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</ul>
<hr>
<table>
  <head>
  </head>
  <body>
    
    <% @order_date.each do |order|%>
      <tr>
        <td><%=order.order_number%></td>
        <td><%=I18n.l order.processed_at.to_time, format: "%m/%d/%Y"%></td>
        <td><%=order.total_price%></td>
      </tr>
    <% end %>
  </body>
</table>
<hr>

<h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>
<% end %>