<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>    
      <th>Survey Code</th>
      <th>Description</th>
      <th>Question</th>

    </tr>
  </thead>
  <tbody>
    <% @q.each do |q| %>
      <tr>
        <td><%= q.survey_code%></td>
        <td><%= q.survey_desc%></td>
        <td><%= q.survey_question%></td>
      </tr>
    <% end%>
  </tbody>
</table>
<li><%= link_to 'To Dashboard Page', root_path %></li>
<li><%= link_to 'New Survey', new_survey_path %></li>
